html, body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#animation-container {
    transform: scale(2.2);
    margin-bottom: 65vh;
}



.icon-container {
    z-index: 3000;
    position: absolute;
    top: 28%; /* Adjust to move icons up/down */
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;

}

.icon-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.icon-link {
    display: inline-block;
    margin: 0 10px; /* Spacing between icons */
    text-decoration: none; /* Remove default link styling */
}



.icon-link img {
    z-index: 3001;
    width: 84px;
    height: 84px;
    transition: transform 0.3s ease; /* Hover effect */
}

.icon-link:hover img {
    transform: scale(1.1); /* Scale up icon on hover */
}

.row-label {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 24px;
    color: rgb(200, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.icon-row:first-child {
    /* margin-bottom: 120px; */
    margin-bottom: 12vh;
}

.icon-row:nth-child(3) {
    margin-bottom: 4vh;
}


#walrus-icons img, #donate-icons img {
    width: 64px;
    height: 64px;
}

.icon-link img.wide-icon {
    width: auto;
    height: 64px;
}

#walrus-icons img.wide-icon, #donate-icons img.wide-icon {
    width: auto;
    height: 64px;
}





/* Extra small devices (portrait phones, 320px and down) */
@media only screen and (max-width: 320px) {
    #animation-container {
        transform: scale(4.9);
        margin-bottom: 63vh;
    }
    .icon-link img {
        width: 48px;
        height: 48px;
    }
    .icon-link img.wide-icon {
        width: auto;
        height: 36px;
    }
    #walrus-icons img, #donate-icons img {
        width: 36px;
        height: 36px;
    }
    #walrus-icons img.wide-icon, #donate-icons img.wide-icon {
        width: auto;
        height: 36px;
    }
    .icon-row {
        flex-wrap: nowrap;
    }
    .icon-container {
        top: 26%; /* Adjust to move icons up/down */
    }
    .icon-link {
        margin: 0 0px; /* Spacing between icons */
    }
}

/* Small devices (portrait phones, 321px to 400px) */
@media only screen and (min-width: 321px) and (max-width: 400px) {
    #animation-container {
        transform: scale(4.5);
        margin-bottom: 63vh;
    }
    .icon-link img {
        width: 58px;
        height: 58px;
    }
    .icon-link img.wide-icon {
        width: auto;
        height: 48px;
    }
    #walrus-icons img, #donate-icons img {
        width: 48px;
        height: 48px;
    }
    #walrus-icons img.wide-icon, #donate-icons img.wide-icon {
        width: auto;
        height: 48px;
    }
    .icon-row {
        flex-wrap: nowrap;
    }
    .icon-container {
        top: 26%; /* Adjust to move icons up/down */
    }
    .icon-link {
        margin: 0 3px; /* Spacing between icons */
    }
}

/* Medium devices (phones, 401px to 600px) */
@media only screen and (min-width: 401px) and (max-width: 600px) {
    #animation-container {
        transform: scale(4.2);
        margin-bottom: 63vh;
    }
    .icon-link img {
        width: 58px;
        height: 58px;
    }
    .icon-link img.wide-icon {
        width: auto;
        height: 48px;
    }
    #walrus-icons img, #donate-icons img {
        width: 48px;
        height: 48px;
    }
    #walrus-icons img.wide-icon, #donate-icons img.wide-icon {
        width: auto;
        height: 48px;
    }
    .icon-row {
        flex-wrap: nowrap;
    }
    .icon-container {
        top: 26%; /* Adjust to move icons up/down */
    }
    .icon-link {
        margin: 0 3px; /* Spacing between icons */
    }
}

/* Large devices (tablets, 601px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    #animation-container {
        transform: scale(3.8);
        margin-bottom: 63vh;
    }
}

/* Extra large devices (small laptops, 769px to 992px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    #animation-container {
        transform: scale(3.6);
        margin-bottom: 63vh;
    }
}

/* XXL devices (laptops/desktops, 993px to 1200px) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    #animation-container {
        transform: scale(3);
        margin-bottom: 63vh;
    }
}

/* XXXL devices (large laptops and desktops, 1201px and up) */
@media only screen and (min-width: 1201px) {
    #animation-container {
        transform: scale(2.2);
        margin-bottom: 63vh;
    }
}